@import "tailwindcss";

* {
  @apply box-border;
}

html {
  background-color: rgb(13, 13, 13);
  color: rgb(232, 220, 200);
}

body {
  margin: 0;
  font-family: "Inter", "Open Sans", system-ui, sans-serif;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
